/* broken white background color: #ffffff; */

* {
  margin: 0;
  padding: 0;
  color: #111111;
  background-color: #333333;
  font-family: "open sans";
  /*font-family: Arial, Helvetica, sans-serif;*/
}

.fixed-at-top {
  position: fixed;
  top: 0;
  padding: 1rem;
  width: 100%;
  color: #333333;
  z-index: 9999999;
}

h1, h3, h4, p {
  padding: 0 2rem;
}
.main-div, h1, h3, h4, p {
  background-color: #ffffff;
  /*background-color: #FED587;*/
}
.page-wrapper {
  margin: 0 20%;
  background-color: #ffffff;
}
.main-content-wrapper {
  background-color: #ffffff;
}
.header-div {
  text-align: center;
  background-color: #ffffff;
}

.header-div h1 {
  margin-top: 2rem;
  padding-top: 3rem;
  color: #333333;
  font-size: 4rem;
}
.header-div h3 {
  padding-bottom: 2rem;
  color: #333333;
  font-size: 1rem;
}
.header-div p {
  text-align: justify;
  padding-bottom: 1rem;
}

.introduction-text-box {
  display: inline-block;
  /*border: 1px solid black;*/
  width: 50%;
  padding: 1rem;
  background-color: #ffffff;
  text-align: justify;
}

.introduction-text-box2 {
  padding-bottom: 5rem;
}

/*.create-boxes {
  width: 26.667%;
  border: 1px solid;
  display: inline-block;
}*/

#video-editor {
  padding: 1rem 2rem 1rem;
  font-size: 1.8rem;
  color: #333333;
}
.jobtitles {
  font-size: 1.8rem;
  padding-bottom: 1rem;
  color: #333333;
}
.jobdescription {
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

.projects-div {
  text-align: center;
  color: #333333;
}
.projects-div h1 {
  padding-top: 3rem;
  font-size: 4rem;
}
.projects-div h3 {
  padding-bottom: 2rem;
  font-size: 1rem;
}
.color-red {
  color: #333333;
}
.application-wrapper {
  height: 20vh;
}
.application-div {
  float: right;
  text-align: right;
  width: 50%;
  margin-right: 5rem;
  margin-top: 4rem;
}
.application-div h4 {
  color: #333333;
  font-size: 1.4rem;
}
.application-div p {
  text-align: center;
}
.requirement-div {
  float: left;
  text-align: left;
  width: 50%;
  margin-top: 2rem;
  margin-left: 5rem;
}
.requirement-div h4 {
  color: #333333;
  font-size: 1.4rem;
}
.sendUs-div {
  float: right;
  text-align: right;
  margin-right: 5rem;
}
.sendUs-div h4 {
  color: #333333;
  font-size: 1.4rem;

}
.send-application-info {
  float: left;
  margin-top: 2rem;
}
.apply-mail {
  background-color: #ffffff;
  text-decoration: none;
}
.apply-mail:hover {
  text-decoration: underline;
}
#VISA-disclaimer {
  padding: 1rem 0;
  text-align: center;
  border: 1px solid black;
}
.clear {
  clear: both;
}
.background-color {
  background-color: #ffffff;
}




.last-two-wrapper {
  display: flex;
  justify-content: center;
}


/* Fade in overlays */
.container {
  position: relative;
  width: 20%;
  /*width: 32.33%;*/
  display: inline-block;
  margin: 3% 2% 2%;
  box-shadow: 0.4rem 0.4rem 0.4rem #000000;
  border-radius: 5px;
}

.image {
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.image-wrapper {
  background-color: #ffffff;
  /*border: 1px solid;*/
  text-align: center;
}
.overlay {
  position: absolute;
  top: 6%;
  bottom: 5%;
  left: 6%;
  right: 5%;
  height: 90%;
  width: 90%;
  opacity: 0;
  transition: .3s ease;
  background-color: #000000;
  border-radius: 1rem;
}

.container:hover .overlay {
  opacity: 0.9;
}
.container:hover img {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  padding: 10px;
  /* left: 50%;
  /*transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/
  background-color: #000000;
  text-align: center;
}

/* apply button */

.button {
background-color: #333;
background-image: linear-gradient(167deg, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0) 55%), linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));
border-radius: 6px;
box-shadow: 0 0 0 1px #343434 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #222, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
color: #FFF;
display: inline-block;
font-family: "Open Sans", Arial, sans-serif;
font-size: 22px;
font-weight: bold;
height: 61px;
letter-spacing: -1px;
line-height: 61px;
margin: 30px 0 10px;
position: relative;
text-align: center;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
text-decoration: none !important;
top: 0;
width: 186px;
-moz-transition: 0.15s;
-o-transition: 0.15s;
-webkit-transition: 0.15s;
transition: 0.15s;
display: block;
margin: 20vh auto 10vh;
}
  /*display: inline-block;
  padding: 3% 5%;
  font-size: 3em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #333333;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #666;
  margin-top: 20vh;
  margin-bottom: 10vh;
  margin-left: 50%;
  transform: translateX(-50%);*/
}

.button:hover {background-color: #222;}

.button:active {
  background-color: #222;
  box-shadow: 0 5px #666;
}

/*navbar on left of the screen*/
.navigation {
  top: 2rem;
  left: 0;
  position: fixed;
  width: 20%;
  margin: 0;
  color: #ffffff;
}

.textbox {
  color: #ffffff;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  /*background-color: #dedede;*/
  padding: 0;
}

ul {
  list-style: none;
  display: block;
  /*background-color: #212121;*/
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}
ul li {
  margin: 0;
  padding: 0;
}
ul li a, ul li #check-label {
  color: #ffffff;
  vertical-align: middle;
  display: block;
  width: 100%;
  text-decoration: none;
  /*margin: 2rem 0 0 0;*/
  padding-left: 5%;
  box-sizing: border-box;
  /*color: #ddd;*/
  /*border-bottom: #232323 solid 3px;*/
  transition: all .2s ease;
}

.sub {
  margin: 0;
  padding: 0;
  height: 0;
  width: 100%;
  box-sizing: border-box;
}
.sub a {
  color: #ededed;
}

#check {
  display: none;
}

li a {
  padding: 1rem;
}

li a:hover {
  background-color: white;
  color: black;
}
